<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form class="" action="/users" method="post">
      <label for="">Say :</label>
      <input type="text" name="say" value="">
      <input type="text" name="say2" value="">
      <input type="submit" value="Submit">
    </form>
    <h1><%= say %> <%= say2 %></h1>
  </body>
</html>
